.ColorBox{
    position: relative;
    display: inline-block;
    margin-bottom: -4px;
    cursor: pointer;
    font-size: 16px;
    width: 20%;
}
.ColorBox.original{
    height: 25%;

}
.ColorBox.shade{
    height: 50%;
}
.ColorBox .name{
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    padding: 6px;
    font-weight: 500;
    letter-spacing: 1px;
}
.ColorBox .copy{
    position: absolute;
    left: 50%;
    top : 50%;
    color : white;
    border: 1px solid black;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    width : 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: -35px;
    margin-top: -15px;
    opacity: 0;
}
.ColorBox .more{
    position: absolute;
    right : 0;
    bottom : 0;
    background-color: #ccc;
    opacity: .7;
    padding: 3px;
}

.ColorBox .more a{
    color : black;
    font-size: 22px;
    text-decoration: none;
}
.ColorBox:hover .copy{
    transition: 0.3s all;
    opacity: 1;
}
.ColorBox .overlay{
    z-index: 10;
    position: absolute;
    width: 100px;
    height: 100px;
    transform: scale(0.01);
    opacity: 1;
}
.overlay.copied{
    transition: 1s all;
    transform: scale(60);
}

.copy-display{
    position: fixed;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0.01);
}
.copy-display h1{
    text-transform: uppercase;
}
.copy-display.c{
    transition: 1s all;
    transition-delay: .7s;
    transform: scale(1);
    opacity: 1;
    z-index: 25 !important;
}
.copy-text{
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 6rem;
    color : white;
    width: 100%;
    font-weight: 500;
    text-align: center;
}
.copy-color{
    margin : 0.3rem;
    font-size: 1.5rem;
}
@media (max-width : 720px){
    .ColorBox.original, .ColorBox.shade{
        display: block;
        width: 100%;
        height : 120px;
    }
    .ColorBox .overlay{
        width: 100%;
        opacity: 1;
        transform: scaleY(0.01);
    }
    .overlay.copied{
        z-index: 15;
        transform: scaleY(21);
    }
    .ColorBox .copy-text{
        font-size: 4.5rem;
    }
}