.MiniPalette{
    background-color: white;
    border : 5px solid white;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.MiniPalette-colors{
    background-color: #aaa; 
    border-radius: 15px;
    overflow: hidden;
    height: 200px;
}
.MiniPalette-box{
    margin-bottom: -4px;
    display: inline-block;
    width : 20%;
    height: 25%;
}
.MiniPalette-footer{
    padding: 1rem;
}

.MiniPalette-footer span:nth-child(1){
    color : black;
    font-weight: bold;
}
.MiniPalette-footer span:nth-child(2){
    float: right;
}
.MiniPalette button{
    position: absolute;
    right: 0;
    top : 0;
    background-color: red;
    color : white;
    border-radius: 0;
    opacity: 0;
    transition: .3s opacity;
}
.MiniPalette:hover button{
    opacity: 1;
    background-color: red !important;
}
.icon{
    min-width : 40px !important;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.removeIcon{
    background-image: radial-gradient(rgba(255,0,0,0.5),rgba(255,0,0,0));
}
.undoIcon{
    background-image: radial-gradient(rgba(0,0,255,0.5),rgba(0,0,255,0));

}