.PaletteList{
    background-color: gray;
    padding : 1rem;
    width: 60%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    background-color: gray;
    border-radius: 15px;
}
.PaletteList a{
    text-decoration: none;
}

@media(max-width : 920px){
    .PaletteList{
        width : 90%;
    }
}