.PaletteList{
    background-color: gray;
    padding : 1rem;
    width: 60%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    min-width: 400px;
    background-color: gray;
    border-radius: 15px;
}
.PaletteList a{
    text-decoration: none;
}

